In [3]:
%pylab inline
import pandas as pd
import numpy as np
from collections import Counter
from copy import copy

Populating the interactive namespace from numpy and matplotlib

# **n=4**

## **Best case**

In [94]:
man_list = ['m1', 'm2', 'm3', 'm4']
women_list = ['w1', 'w2', 'w3', 'w4']

In [95]:
man_df = pd.DataFrame({'m1': [1,2,3,4], 'm2': [4,1,2,3], 'm3': [3,4,1,2], 'm4': [2,3,4,1]})
man_df.index = women_list

In [96]:
women_df = pd.DataFrame({'w1': [1,2,3,4], 'w2': [4,1,2,3], 'w3': [3,4,1,2], 'w4': [2,3,4,1]})
women_df.index = man_list

In [97]:
women_df

    w1  w2  w3  w4
m1   1   4   3   2
m2   2   1   4   3
m3   3   2   1   4
m4   4   3   2   1

In [98]:
man_df

    m1  m2  m3  m4
w1   1   4   3   2
w2   2   1   4   3
w3   3   2   1   4
w4   4   3   2   1

In [99]:
hombres_preferencias = {'m1': [1,2,3,4], 'm2': [4,1,2,3], 'm3': [3,4,1,2], 'm4': [2,3,4,1]}
mujeres_preferencias = {'w1': [1,2,3,4], 'w2': [4,1,2,3], 'w3': [3,4,1,2], 'w4': [2,3,4,1]}

In [100]:
# waiting list of men that were able to create pair on each iteration
waiting_list = []
# dict to store created pairs
proposals = {}
# variable to count number of iterations
count = 0

In [101]:
# while not all men have pairs
numerodelman = 0
while len(waiting_list)<len(man_list):
    # man makes proposals
    for man in man_list:
        if man not in waiting_list:
            # Todos los hombres hacen su propuesta a la mujer top de su lista, ese registro de propuestas se guarda en el diccionario proposals
            women = women_list
            list_of_women_man = hombres_preferencias[man]
            posicion = 0
            id = list_of_women_man[0]
            for i in range(len(man_list)-1):
              p = list_of_women_man[i+1]
              if p<id and p!=10:
                id = list_of_women_man[i+1]
                posicion = i+1
            best_choice = women[posicion]
            list_of_man_women = mujeres_preferencias[best_choice]
            number_woman = list_of_man_women[numerodelman]
            proposals[(man, best_choice)]=(list_of_women_man[posicion], number_woman)
        numerodelman+=1




    #Cuenta la cantidad de propuestas que tiene cada mujer
    overlays = Counter([key[1] for key in proposals.keys()])


    #Ciclo para que la mujer escoja su mejor opción
    for women in overlays.keys():
        if overlays[women]>1:
            # pairs to drop from proposals
            pairs_to_drop = sorted({pair: proposals[pair] for pair in proposals.keys() 
                    if women in pair}.items(), 
                   key=lambda x: x[1][1]
                  )[1:]
            # if man was rejected by woman
            # there is no pint for him to make proposal 
            # second time to the same woman
            for p_to_drop in pairs_to_drop:
                drop = list(p_to_drop)
                eliminate = drop[0]
                del proposals[eliminate]
                o = 0;
                for mujer in women_list:
                  if eliminate[1] == mujer:
                    break
                  o+=1
                hombres_preferencias[eliminate[0]][o] = 10

    # man who successfully created pairs must be added to the waiting list 
    waiting_list = [man[0] for man in proposals.keys()]
    # update counter
    print("Nueva iteracion")
    count+=1
    numerodelman=0

Nueva iteracion

In [102]:
proposals

{('m1', 'w1'): (1, 1),
 ('m2', 'w2'): (1, 1),
 ('m3', 'w3'): (1, 1),
 ('m4', 'w4'): (1, 1)}

In [103]:
count

1

## **Worst case**

In [4]:
man_list = ['m1', 'm2', 'm3', 'm4']
women_list = ['w1', 'w2', 'w3', 'w4']

In [5]:
man_df = pd.DataFrame({'m1': [1,2,3,4], 'm2': [3,1,2,4], 'm3': [2,3,1,4], 'm4': [1,2,3,4]})
man_df.index = women_list

In [6]:
women_df = pd.DataFrame({'w1': [4,1,2,3], 'w2': [3,4,1,2], 'w3': [2,3,4,1], 'w4': [1,2,3,4]})
women_df.index = man_list

In [7]:
women_df

    w1  w2  w3  w4
m1   4   3   2   1
m2   1   4   3   2
m3   2   1   4   3
m4   3   2   1   4

In [8]:
man_df

    m1  m2  m3  m4
w1   1   3   2   1
w2   2   1   3   2
w3   3   2   1   3
w4   4   4   4   4

In [9]:
hombres_preferencias = {'m1': [1,2,3,4], 'm2': [3,1,2,4], 'm3': [2,3,1,4], 'm4': [1,2,3,4]}
mujeres_preferencias = {'w1': [4,1,2,3], 'w2': [3,4,1,2], 'w3': [2,3,4,1], 'w4': [1,2,3,4]}

In [10]:
# waiting list of men that were able to create pair on each iteration
waiting_list = []
# dict to store created pairs
proposals = {}
# variable to count number of iterations
count = 0

In [12]:
# while not all men have pairs
numerodelman = 0
while len(waiting_list)<len(man_list):
    # man makes proposals
    for man in man_list:
        if man not in waiting_list:
            # Todos los hombres hacen su propuesta a la mujer top de su lista, ese registro de propuestas se guarda en el diccionario proposals
            women = women_list
            list_of_women_man = hombres_preferencias[man]
            posicion = 0
            id = list_of_women_man[0]
            for i in range(len(man_list)-1):
              p = list_of_women_man[i+1]
              if p<id and p!=10:
                id = list_of_women_man[i+1]
                posicion = i+1
            best_choice = women[posicion]
            list_of_man_women = mujeres_preferencias[best_choice]
            number_woman = list_of_man_women[numerodelman]
            proposals[(man, best_choice)]=(list_of_women_man[posicion], number_woman)
        numerodelman+=1




    #Cuenta la cantidad de propuestas que tiene cada mujer
    overlays = Counter([key[1] for key in proposals.keys()])


    #Ciclo para que la mujer escoja su mejor opción
    for women in overlays.keys():
        if overlays[women]>1:
            # pairs to drop from proposals
            pairs_to_drop = sorted({pair: proposals[pair] for pair in proposals.keys() 
                    if women in pair}.items(), 
                   key=lambda x: x[1][1]
                  )[1:]
            # if man was rejected by woman
            # there is no pint for him to make proposal 
            # second time to the same woman
            for p_to_drop in pairs_to_drop:
                drop = list(p_to_drop)
                eliminate = drop[0]
                del proposals[eliminate]
                o = 0;
                for mujer in women_list:
                  if eliminate[1] == mujer:
                    break
                  o+=1
                hombres_preferencias[eliminate[0]][o] = 10

    # man who successfully created pairs must be added to the waiting list 
    waiting_list = [man[0] for man in proposals.keys()]
    # update counter
    count+=1
    numerodelman=0

In [13]:
proposals

{('m1', 'w4'): (4, 1),
 ('m2', 'w1'): (3, 1),
 ('m3', 'w2'): (3, 1),
 ('m4', 'w3'): (3, 1)}

In [14]:
count

10

# **n=40**

## **Best case**

In [45]:
man_list = ['m'+ str(i+1) for i in range(40)]
women_list = ['w'+ str(i+1) for i in range(40)]

In [47]:
hombres_preferencias = {}
mujeres_preferencias = {}
t=0
for i in range(40):
  number_list_m = []
  number_list_w = []
  for j in range(40-t):
    number_list_m.append(j+1)
    number_list_w.append(j+1)
  nueva_lista_m = []
  nueva_lista_w = []
  for j in range(40-t, 40):
    nueva_lista_m.append(j+1)
    nueva_lista_w.append(j+1)
  mujeres_preferencias['w'+str(i+1)] = nueva_lista_w+number_list_w
  hombres_preferencias['m'+str(i+1)] = nueva_lista_m+number_list_m
  t+=1

In [48]:
# waiting list of men that were able to create pair on each iteration
waiting_list = []
# dict to store created pairs
proposals = {}
# variable to count number of iterations
count = 0

In [49]:
# while not all men have pairs
numerodelman = 0
while len(waiting_list)<len(man_list):
    # man makes proposals
    for man in man_list:
        if man not in waiting_list:
            # Todos los hombres hacen su propuesta a la mujer top de su lista, ese registro de propuestas se guarda en el diccionario proposals
            women = women_list
            list_of_women_man = hombres_preferencias[man]
            posicion = 0
            id = list_of_women_man[0]
            for i in range(len(man_list)-1):
              p = list_of_women_man[i+1]
              if p<id and p!=10:
                id = list_of_women_man[i+1]
                posicion = i+1
            best_choice = women[posicion]
            list_of_man_women = mujeres_preferencias[best_choice]
            number_woman = list_of_man_women[numerodelman]
            proposals[(man, best_choice)]=(list_of_women_man[posicion], number_woman)
        numerodelman+=1




    #Cuenta la cantidad de propuestas que tiene cada mujer
    overlays = Counter([key[1] for key in proposals.keys()])


    #Ciclo para que la mujer escoja su mejor opción
    for women in overlays.keys():
        if overlays[women]>1:
            # pairs to drop from proposals
            pairs_to_drop = sorted({pair: proposals[pair] for pair in proposals.keys() 
                    if women in pair}.items(), 
                   key=lambda x: x[1][1]
                  )[1:]
            # if man was rejected by woman
            # there is no pint for him to make proposal 
            # second time to the same woman
            for p_to_drop in pairs_to_drop:
                drop = list(p_to_drop)
                eliminate = drop[0]
                del proposals[eliminate]
                o = 0;
                for mujer in women_list:
                  if eliminate[1] == mujer:
                    break
                  o+=1
                hombres_preferencias[eliminate[0]][o] = 10

    # man who successfully created pairs must be added to the waiting list 
    waiting_list = [man[0] for man in proposals.keys()]
    # update counter
    count+=1
    numerodelman=0

In [50]:
proposals

{('m1', 'w1'): (1, 1),
 ('m10', 'w10'): (1, 1),
 ('m11', 'w11'): (1, 1),
 ('m12', 'w12'): (1, 1),
 ('m13', 'w13'): (1, 1),
 ('m14', 'w14'): (1, 1),
 ('m15', 'w15'): (1, 1),
 ('m16', 'w16'): (1, 1),
 ('m17', 'w17'): (1, 1),
 ('m18', 'w18'): (1, 1),
 ('m19', 'w19'): (1, 1),
 ('m2', 'w2'): (1, 1),
 ('m20', 'w20'): (1, 1),
 ('m21', 'w21'): (1, 1),
 ('m22', 'w22'): (1, 1),
 ('m23', 'w23'): (1, 1),
 ('m24', 'w24'): (1, 1),
 ('m25', 'w25'): (1, 1),
 ('m26', 'w26'): (1, 1),
 ('m27', 'w27'): (1, 1),
 ('m28', 'w28'): (1, 1),
 ('m29', 'w29'): (1, 1),
 ('m3', 'w3'): (1, 1),
 ('m30', 'w30'): (1, 1),
 ('m31', 'w31'): (1, 1),
 ('m32', 'w32'): (1, 1),
 ('m33', 'w33'): (1, 1),
 ('m34', 'w34'): (1, 1),
 ('m35', 'w35'): (1, 1),
 ('m36', 'w36'): (1, 1),
 ('m37', 'w37'): (1, 1),
 ('m38', 'w38'): (1, 1),
 ('m39', 'w39'): (1, 1),
 ('m4', 'w4'): (1, 1),
 ('m40', 'w40'): (1, 1),
 ('m5', 'w5'): (1, 1),
 ('m6', 'w6'): (1, 1),
 ('m7', 'w7'): (1, 1),
 ('m8', 'w8'): (1, 1),
 ('m9', 'w9'): (1, 1)}

In [51]:
count

1

## **Worst case**

In [37]:
man_list = ['m'+ str(i+1) for i in range(40)]
women_list = ['w'+ str(i+1) for i in range(40)]

In [38]:
hombres_preferencias = {}
t=0
for i in range(40):
  number_list_1 = []
  for j in range(39-t):
    number_list_1.append(j+1)
  number_list_1.append(40)
  if t == 0:
    hombres_preferencias['m'+str(i+1)] = number_list_1
    t+=1
  else:
    nueva_lista = []
    for j in range(39-t, 39):
      nueva_lista.append(j+1)
    hombres_preferencias['m'+str(i+1)] = nueva_lista+number_list_1
    t+=1

mujeres_preferencias = {}
t=1
for i in range(40):
  number_list_2 = []
  for j in range(40-t):
    number_list_2.append(j+1)
  nueva_lista2 = []
  for j in range(40-t, 40):
    nueva_lista2.append(j+1)
  mujeres_preferencias['w'+str(i+1)] = nueva_lista2+number_list_2
  t+=1

In [39]:
# waiting list of men that were able to create pair on each iteration
waiting_list = []
# dict to store created pairs
proposals = {}
# variable to count number of iterations
count = 0

In [40]:
# while not all men have pairs
numerodelman = 0
while len(waiting_list)<len(man_list):
    # man makes proposals
    for man in man_list:
        if man not in waiting_list:
            # Todos los hombres hacen su propuesta a la mujer top de su lista, ese registro de propuestas se guarda en el diccionario proposals
            women = women_list
            list_of_women_man = hombres_preferencias[man]
            posicion = 0
            id = list_of_women_man[0]
            for i in range(len(man_list)-1):
              p = list_of_women_man[i+1]
              if p<id and p!=10:
                id = list_of_women_man[i+1]
                posicion = i+1
            best_choice = women[posicion]
            list_of_man_women = mujeres_preferencias[best_choice]
            number_woman = list_of_man_women[numerodelman]
            proposals[(man, best_choice)]=(list_of_women_man[posicion], number_woman)
        numerodelman+=1




    #Cuenta la cantidad de propuestas que tiene cada mujer
    overlays = Counter([key[1] for key in proposals.keys()])


    #Ciclo para que la mujer escoja su mejor opción
    for women in overlays.keys():
        if overlays[women]>1:
            # pairs to drop from proposals
            pairs_to_drop = sorted({pair: proposals[pair] for pair in proposals.keys() 
                    if women in pair}.items(), 
                   key=lambda x: x[1][1]
                  )[1:]
            # if man was rejected by woman
            # there is no pint for him to make proposal 
            # second time to the same woman
            for p_to_drop in pairs_to_drop:
                drop = list(p_to_drop)
                eliminate = drop[0]
                del proposals[eliminate]
                o = 0;
                for mujer in women_list:
                  if eliminate[1] == mujer:
                    break
                  o+=1
                hombres_preferencias[eliminate[0]][o] = 10

    # man who successfully created pairs must be added to the waiting list 
    waiting_list = [man[0] for man in proposals.keys()]
    # update counter
    count+=1
    numerodelman=0

KeyboardInterrupt: ignored

In [41]:
proposals

{('m1', 'w1'): (10, 40),
 ('m10', 'w18'): (9, 32),
 ('m11', 'w19'): (9, 32),
 ('m12', 'w20'): (9, 32),
 ('m13', 'w21'): (9, 32),
 ('m14', 'w22'): (9, 32),
 ('m15', 'w23'): (9, 32),
 ('m16', 'w24'): (9, 32),
 ('m17', 'w25'): (9, 32),
 ('m18', 'w26'): (9, 32),
 ('m19', 'w27'): (9, 32),
 ('m2', 'w10'): (9, 32),
 ('m20', 'w28'): (9, 32),
 ('m21', 'w29'): (9, 32),
 ('m22', 'w30'): (9, 32),
 ('m23', 'w31'): (9, 32),
 ('m24', 'w32'): (9, 32),
 ('m25', 'w33'): (9, 32),
 ('m26', 'w34'): (9, 32),
 ('m27', 'w35'): (9, 32),
 ('m28', 'w36'): (9, 32),
 ('m29', 'w37'): (9, 32),
 ('m3', 'w11'): (9, 32),
 ('m30', 'w38'): (9, 32),
 ('m31', 'w39'): (9, 32),
 ('m32', 'w1'): (9, 31),
 ('m33', 'w2'): (9, 31),
 ('m34', 'w3'): (9, 31),
 ('m35', 'w4'): (9, 31),
 ('m36', 'w5'): (9, 31),
 ('m37', 'w6'): (9, 31),
 ('m38', 'w7'): (9, 31),
 ('m39', 'w8'): (9, 31),
 ('m4', 'w12'): (9, 32),
 ('m40', 'w9'): (9, 31),
 ('m5', 'w13'): (9, 32),
 ('m6', 'w14'): (9, 32),
 ('m7', 'w15'): (9, 32),
 ('m8', 'w16'): (9, 32),
 ('m9', 'w17'): (9, 32)}

In [42]:
count

99145842